.menu {
  background-image: linear-gradient(to right, #00014a, #281f6f);
  position: relative;
  color: #fff;
}
.menuList {
  list-style: none;
  display: -webkit-inline-box;
  padding: 10px 0;
  font-size: 21px;
}
.menuItem {
  color: #fff;
  padding: 0 10px;
  cursor: pointer;
  :hover {
    color: #ff7d7d;
  }
}
.itemLink {
  color: #fff;
  text-decoration: none;
}
